<?xml version="1.0"?>
<model>
  <name>goal_marker</name>
  <version>1.0</version>
  <sdf>urdf/goal_marker.urdf.xacro</sdf>
  <author>
    <name>Mohammad Abedi</name>
    <email>mohammadabedi@example.com</email>
  </author>
  <description>
    A simple goal marker model with a textured chassis and wheels.
  </description>
</model>
