<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot">

    <xacro:include filename ="my_robot_core.xacro"/>
    <xacro:include filename="gazebo_control.xacro"/>
    <!--<xacro:include filename="stereo_camera.xacro"/>-->
    <xacro:include filename="depth_camera.xacro"/>
    <xacro:add_drive_plugins/>

</robot>