<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="robot">

    <xacro:arg name="controller_yaml" default=""/>
    <xacro:include filename ="my_robot_core.xacro"/>
    <xacro:include filename="control_plugin.xacro"/>
    <xacro:include filename="depth_camera.xacro"/>
    <xacro:include filename="srf05_sensors.xacro"/>
    <xacro:add_drive_plugins controller_yaml="$(arg controller_yaml)"/>
    <xacro:my_robot_core/>

</robot>